.mydevices {
  .card .title {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  .card .content {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
}
